html {
  scroll-behavior: smooth;
}

#homeHeading {
  clip-path: polygon(0 0, 100% 0, 105% 116%, 0% 116%);
}

#subHeadingText {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s, cursor 0.4s linear infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

h1:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  min-width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 2px solid #e74d3c;
  overflow: hidden;
}

hr {
  border-color: #e74d3c;
}

.list > * {
  margin: 0 2px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  height: 100%;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.swiper-pagination span {
  background: #e74d3c;
}
